PORT=5000
MONGODB_URI=mongodb+srv://thanishkarthanishkar49_db_user:test123@cluster0.ihk4ca5.mongodb.net/skillswap2
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=7d
FRONTEND_URL=https://skillswap2-tau.vercel.app/
